[data-coreui-theme="dark"] {
  --cui-input-color: var(--cui-body-color);
  --cui-input-placeholder-color: var(--cui-body-color);
  --cui-form-label-color: var(--cui-body-color);
  --cui-form-text-color: var(--cui-body-color);
  --cui-card-color: var(--cui-body-color);
}